/*
------- • ❀ • -------

Pink Generalist - Deen Rotaru's portfolio

------- • ❀ • -------
*/

/*

    Basics

*/

/* Loading fonts */
@font-face{
    font-family: 'Gotham Medium';
    src: url(Assets/Fonts/GothamMedium.oft) format("opentype");
}
@font-face{
    font-family: 'Gotham Light';
    src: url(Assets/Fonts/GothamLight.oft) format("opentype");
}

:root{
/* Color variables */
    --black: #2C2C2C;
    --white: #F5F5F5;
    --pink: #E91E61;
    --lightpink: #FF79A5;
    --hover: #E99AB4;
    --transparent: rgba(0, 0, 0, 0);
    --backgroundPattern: 250px;

/* Text defaults */
    font-family: "Gotham Light", sans-serif;
    color: var(--black);
    font-size: 1.5em;
}

/* Selection colors */ ::selection {color: var(--white); background: var(--lightpink);}

/* Scrollbar */
  ::-webkit-scrollbar {width: 10px; background-color: var(--black);}
  ::-webkit-scrollbar-track {border-radius: 0px;}
  ::-webkit-scrollbar-thumb {background-color: var(--lightpink); border-radius: 20px;}

/* h1 / Title */ h1{
    font-family: 'Gotham Medium';
    font-weight: bold;
    letter-spacing: 10px;
    margin: 15px auto 15px auto;
  }

/* Centered title */ h1.centered{
    margin: auto;
    width: 50%;
    text-align: center;
  }
  hr.centered{margin: 20px auto; width: 50%; text-align: center;}

/* h2 / Subtitle */ h2{
    font-family: 'Gotham Medium';
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 5px;
    margin: 10px auto 10px auto;
  }

/* Paragraph */ p{
    font-size: 0.6em;
    font-family: 'Gotham Light';
    line-height: 20px;
  }

/* Divider */ hr{
    border: 1px solid var(--black);
    margin: 20px 0 20px  0;
  }

/* Button */  button{
    font-size: 0.6em;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--lightpink);
    padding: 10px 25px 10px 25px;
    margin: 20px auto 20px auto;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    transition-timing-function: ease-in-out;
  }

/* Button hover */  button:hover{
    background-color: var(--pink);
    transition: background-color 0.2s;
    transition-timing-function: ease-in-out;
  }

/*     ------- • ❀ • -------     */

/*
      Body / Animated background
*/
    * {margin: 0; padding: 0; box-sizing: border-box;}

    body{
      height: 100vh;
      box-sizing: border-box;
      display: flexbox;
      place-items: center;
      background-image: url(Website/Assets/backround_pattern.svg) repeat;
      background-size: var(--backgroundPattern);
      animation: movingBackground 10s linear infinite;
    }

    @keyframes movingBackground{
      from {background-position: 0 0;}
      to {background-position: var(--backgroundPattern) var(--backgroundPattern);}
    }

/*

      Navigation bar

*/
    .navbar {
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 10px;
    background-color: var(--black);
    color: var(--white);
    }

    /* Navigation bar set-up */
    li {list-style: none;}
  
    .nav-links a {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--white);
        fill: var(--white);
        transition: color 0.2s, fill 0.2s;
        transition-timing-function: ease-in-out;
    }

    .nav-links a:hover {
        color: var(--lightpink);
        fill: var(--lightpink);
        transition: color 0.2s, fill 0.2s;
        transition-timing-function: ease-in-out;
    }

    .nav-links svg{
        vertical-align: middle;
        height: 22px;
        padding: 3px 3px 5px 3px;
    }

    

/* Logo */
    .logo {
    height: 50px;
    margin: 0 20px 0 20px;
    }
  
/* Navigation menu */
    .menu {
    display: flex;
    color: var(--white);
    gap: 1em;
    font-size: 0.6em;
    }

    .menu li {
    padding: 5px 15px;
    }

/*
    Navigation bar mobile
*/

/* Checkbox hack */
    input[type=checkbox] {display: none;} 
  
/* Hamburger icon */
    .hamburger {display: none; font-size: 1.5em; user-select: none; margin: 0 20px 0 20px;}
  
/* Responsiveness / Media query */
@media (max-width: 768px) {
   .menu {
      display: none;
      position: absolute;
      background-color: var(--black);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .menu li + li {margin-top: 12px;}
    input[type=checkbox]:checked ~ .menu {display: block;}
    .hamburger {display: block;}
  }

/* OTHER */
.container{
  display: flex;
  justify-content: center;
  align-items:center;
  width:90vw;
  margin:auto;
  gap:1rem;
}

.row {display: flex;}
.column {flex: 50%;}
.row:after {content: ""; display: table; clear: both;}

.side-image{
  height: 400px;
  width: auto;
  max-width: 600px;
  margin: 20px 20px 0px 100px;
}

.side-text{margin: 100px 50px; flex-basis:50%;}

@media screen and (max-width: 879px) {
  .nav-links svg{display:none}
}

@media screen and (max-width: 700px) {

  .column {
    width: 100%;
  }

  .container{
    flex-direction: column;
  }

  .side-image{
    height: auto;
    width: 30vw;
    margin: 0 auto;
    display: block;
  }

  .side-text{
    margin-top: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

/* Divider */ 
  hr{width: 80%; margin: 5px 0 20px  0;}
  hr.centered{margin: 20px auto; width: 80%; text-align: center;}

  .hero-image{display: none;}

}