<!--

      3 columns

-->
<section id="landingSkills" class="row">
    <div class="three-columns">

      <!-- Column 1 -->
      <div class="three-columns-column">
        <!-- Image -->
        <div>
            <img src="Assets/Placeholders/placeholder_square.png" alt="">
        </div>

        <!-- Text content -->
        <div>
          <h3>&#8212 Title &#8212</h3>
          <p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu sapien, dapibus vehicula mi quis, venenatis viverra nulla. Suspendisse molestie eros ac efficitur lacinia. Fusce vel libero sodales, ullamcorper sem aliquet, scelerisque nulla.</p>
        </div>
      </div>

      <!-- Column 2 -->
      <div class="three-columns-column">
        <!-- Image -->
        <div>
            <img src="Assets/Placeholders/placeholder_square.png" alt="">
        </div>

        <!-- Text content -->
        <div>
          <h3>&#8212 Title &#8212</h3>
          <p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu sapien, dapibus vehicula mi quis, venenatis viverra nulla. Suspendisse molestie eros ac efficitur lacinia. Fusce vel libero sodales, ullamcorper sem aliquet, scelerisque nulla.</p>
        </div>
      </div>
      
      <!-- Column 3 -->
      <div class="three-columns-column">
        <!-- Image -->
        <div>
            <img src="Assets/Placeholders/placeholder_square.png" alt="">
        </div>

        <!-- Text content -->
        <div>
          <h3>&#8212 Title &#8212</h3>
          <p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu sapien, dapibus vehicula mi quis, venenatis viverra nulla. Suspendisse molestie eros ac efficitur lacinia. Fusce vel libero sodales, ullamcorper sem aliquet, scelerisque nulla.</p>
        </div>
      </div>

  </div>
  </section>