/*

    Image/Text side-by-side

*/
.section-container{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 90vw;
    margin: auto;
    gap: 1rem;
  }
  
  .row {display: flex;}
  .row:after {content: ""; display: table; clear: both;}
  
  .side-image{
    display: block;
    height: 400px;
    width: auto;
    position: relative;
    max-width: 600px;
    margin: 20px 20px 0px 100px;
  }
  
  .side-text{
    display: block;
    height: auto;
    width: 70%;
    margin: 100px 50px; 
  }

/*     ------- • ❀ • -------     */

/*
  Responsiveness - Narrower desktop modifiers
*/

@media screen and (max-width: 1050px) and (min-width: 905px){
    section{display: block; margin: 5% auto;}
    .section-container{margin: auto;}

    .side-image{
      display: block;
      height: 300px;
      width: auto;
      position: relative;
      max-width: 600px;
      margin: auto;
    }
    
    .side-text{
      display: block;
      height: auto;
      width: 70%;
      margin: 100px 50px; 
    }
}

/*     ------- • ❀ • -------     */

/*
  Responsiveness - Tablet modifiers
*/

@media screen and (max-width: 904px) and (min-width: 700px){
    .row {display: flex;}
    .row:after {content: ""; display: table; clear: both;}
    .section-container{flex-wrap: wrap; flex-direction: side-column;}
}

/*     ------- • ❀ • -------     */

/*
  Responsiveness - Mobile & Content modifiers
*/
@media screen and (max-width: 700px) {
    .row {display: flex;}
    .row:after {content: ""; display: table; clear: both;}

    .section-container{
      display: flex;
      flex-wrap: wrap;
      flex-direction: side-column;
      justify-content: center;
      align-items:center;
      width: 90vw;
      margin: auto;
      gap: 1rem;
    }

    .side-image{
      height: auto;
      width: 30vw;
      margin: auto;
      margin-bottom: 30px;
      display: block;
    }

    .side-text{
      display: block;
      height: auto;
      width: 75%;
      margin-top: -5%;
      justify-content: center;
      flex-direction: side-row;
      text-align: center;
    }
}  