<section id="toAboutfromLanding" class="row section-container">
    <!-- Image -->
    <div class="column">
        <img src="Assets/Placeholders/placeholder_square.png" class="side-image">
    </div>

    <!-- Text content -->
    <div class="column side-text">
      <h1>Title</h1><hr>
      <p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu sapien, dapibus vehicula mi quis, venenatis viverra nulla. Suspendisse molestie eros ac efficitur lacinia. Fusce vel libero sodales, ullamcorper sem aliquet, scelerisque nulla. Cras arcu tellus, sagittis et odio at, ullamcorper blandit dui.</p>
      <button>Button</button>
    </div>
</section>